{% extends "_layouts/cp" %}

{% block toolbar %}
    {% if canAddDelete %}
        <a href="{{ url('emails/add') }}" class="btn submit">{{ 'New email'|t('emails') }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if emails %}
        <div class="tableview">
            <table class="vuetable data fullwidth">
                <thead>
                    <tr>
                        <th>{{ 'Title'|t('app') }}</th>
                        <th>{{ 'Key'|t('emails') }}</th>
                        <th>{{ 'Sent'|t('emails') }}</th>
                        <th>{{ 'Logs'|t('emails') }}</th>
                        <th>{{ 'Actions'|t('emails') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in emails %}
                        <tr>
                            <td>
                                {% if currentUser.can('modifyEmailContent') %}
                                    <a href="{{ url('emails/edit/'~email.id) }}">{{ email.heading }}</a>
                                {% else %}
                                    {{ email.heading }}
                                {% endif %}
                            </td>
                            <td>{{ email.key }}</td>
                            <td>{{ email.sent }}</td>
                            <td>{{ email.saveLogs ? 'Yes'|t('emails') : 'No'|t('emails') }}</td>
                            <td class="actions-cell">
                                {% if canAddDelete and not email.system %}
                                    <div class="icon delete email" data-id="{{ email.id }}" title="{{ 'Delete email'|t('emails') }}"></div>
                                {% endif %}
                                {% if canEditConfig %}
                                    <a href="{{ url('emails/config/' ~ email.id ) }}" class="icon settings" title="{{ 'Edit config'|t('emails') }}"></a>
                                {% endif %}
                                {% if canViewLogs and email.saveLogs %}
                                    <a href="{{ url('emails/logs/' ~ email.id ) }}" title="{{ 'View logs'|t('emails') }}" class="icon logs"></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{{ 'No emails found'|t('emails') }}</p>
    {% endif %}
    {% include "emails/_includes/js-errors" %}
{% endblock %}

{% js %}
    $('.delete.email').click(function(){
        let line = $(this).parent().parent();
        if (confirm('Do you want to delete email ?')) {
            $.ajax({
                url: Craft.getActionUrl('emails/cp-emails/delete'),
                data: {id: $(this).data('id')},
                dataType: 'json'
            }).fail(function (data) {
                handleError(data);
            }).done(function (data) {
                if (data.message) {
                    Craft.cp.displayNotice(data.message);
                }
                line.remove();
            })
        }
    })
{% endjs %}

