{% import "_includes/forms" as forms %}

{{
    forms.textField({
        name: 'menuItemName',
        value: settings.menuItemName ?? 'Emails'|t('emails'),
        errors: errors['menuItemName'] ?? [],
        placeholder: 'Emails',
        label: 'Menu item label',
        fieldClass: 'first'
    })
}}

{{ forms.autosuggestField({
    label: 'Mailchimp API Key'|t('emails'),
    type: 'text',
    name: 'mailchimpApiKey',
    value: settings.mailchimpApiKey,
    suggestEnvVars: true,
    errors: errors['mailchimpApiKey'] ?? []
}) }}

{{ forms.textField({
    label: 'Mailchimp Cache duration'|t('emails'),
    type: 'number',
    instructions: '0 means forever, -1 means no cache'|t('emails'),
    min: -1,
    unit: 'minutes'|t('emails'),
    name: 'mailchimpCacheDuration',
    value: settings.mailchimpCacheDuration,
    errors: errors['mailchimpCacheDuration'] ?? []
}) }}

<p>{{ 'Reinstall all emails, this will install missing emails and delete orphans created by other (uninstalled) plugins'|t('emails') }}</p>
<button type="button" class="js-reinstall btn submit">{{ 'Reinstall'|t('emails') }}</button>

{% js %}
    $('.js-reinstall').click(() => {
        $('.js-reinstall').attr('disabled', true);
        $.ajax({
            url: '/?action=emails/cp-emails/reinstall'
        }).always(() => {
            $('.js-reinstall').attr('disabled', false);
        }).fail(() => {
            Craft.cp.displayError("{{ 'An unexpected error happened'|t('emails') }}");
        }).done(() => {
            Craft.cp.displayNotice("{{ 'Emails have been reinstalled'|t('emails') }}");
        });
    });
{% endjs %}
