{% extends "_layouts/cp" %}

{% set selectedTab = 'logs' %}
{% set selectedSubnavItem = 'shots' %}

{% set tabs = {
    'edit': {
        selected: selectedTab == 'edit',
        url: url("emails/shots/edit/" ~ shot.id),
        label: "Edit"|t('emails')
    }
} %}

{% if currentUser.can('deleteEmailLogs') and shot.saveLogs %}
    {% set tabs = tabs|merge({
        'logs': {
           selected: selectedTab == 'logs',
            url: url("emails/shots/logs/" ~ shot.id),
            label: "Logs"|t('emails')
        }
    }) %}
{% endif %}

{% set title = 'Logs for {shot}'|t('emails', {'shot': shot.name}) %}
{% set order = craft.app.request.getQueryParam("order", 'dateCreated') %}
{% set orderSide = craft.app.request.getQueryParam("orderSide", 'desc') %}
{% set page = craft.app.request.getQueryParam("page", 1) %}
{% set baseUrl = url('emails/shots/logs/' ~ shot.id) %}

{% block toolbar %}
    <a href="{{ url('emails/shots') }}" class="btn back">{{ 'Back'|t('app') }}</a>
    {% if currentUser.can('deleteEmailLogs') %}
        <a href="#" data-id="{{ shot.id }}" class="btn submit js-delete-all">{{ 'Delete all'|t('emails') }}</a>
        <a href="#" data-id="{{ shot.id }}" class="btn submit js-delete-selection" style="display:none">{{ 'Delete selection'|t('emails') }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if logs %}
        <div class="tableview">
            <table class="vuetable data fullwidth">
                <thead>
                    <tr>
                        {% if currentUser.can('deleteEmailLogs') %}
                            <th>
                                <input type="checkbox" class="checkbox js-select-all" autocomplete="off">
                                <label></label>
                            </th>
                        {% endif %}
                        <th>
                            {{ 'Sent by'|t('emails') }}
                        </th>
                        <th>
                            {{ 'Emails sent'|t('emails') }}
                        </th>
                        <th {% if order == 'dateCreated' %}class="ordered {{ orderSide }}"{% endif %}>
                            <a href="{{ baseUrl }}?page={{ page }}&orderSide={{ orderSide == 'asc' ? 'desc' : 'asc' }}&order=dateCreated">{{ 'Date'|t('emails') }}</a>
                        </th>
                        <th>{{ 'Actions'|t('emails') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, log in logs %}
                        <tr>
                            {% if currentUser.can('deleteEmailLogs') %}
                                <td>
                                    <input type="checkbox" class="checkbox js-select" data-id="{{ log.id }}"  autocomplete="off">
                                    <label></label>
                                </td>
                            {% endif %}
                            <td>
                                {% if log.user %}
                                    {{ log.user.friendlyName }}
                                {% elseif log.is_console %}
                                    <i>{{ 'system'|t('emails') }}
                                {% else %}
                                    <i>{{ 'deleted user'|t('emails') }}
                                {% endif %}
                            </td>
                            <td>
                                {{ log.emails|length }}
                            </td>
                            <td>{{ log.dateCreated|date('d/m/Y H:i:s') }}</td>
                            <td class="actions-cell">
                                <a href="#" class="js-view btn btn-small" data-id="{{ log.id }}">{{ 'View recipients'|t('emails') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if pages.pageCount > 1 %}
                <div class="flex pagination">
                    {% for page in range(1, pages.pageCount) %}
                        <a class="page-link page-number{% if page == pages.page + 1 %} active{% endif %}" href="{{ baseUrl }}?page={{ page }}&order={{ order }}&orderSide={{ orderSide }}">{{ page }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <p>{{ 'No logs found'|t('emails') }}</p>
    {% endif %}
    <div id="emails-modal" class="modal elementselectormodal" style="display:none">
        <div class="body">
            <div class="content">
            </div>
        </div>
        <div class="footer">
            <div class="buttons right">
                <button type="button" class="btn js-close" tabindex="0">{{ 'Close'|t('app') }}</button>
            </div>
        </div>
    </div>
    {% include "emails/_includes/js-errors" %}
    {% include "emails/_includes/js-logs" with {deleteAction: 'emails/cp-shots/delete-logs'} %}
{% endblock %}

{% js %}
    var modal = new Garnish.Modal($('#emails-modal'), {
        autoShow: false
    });
    $('#emails-modal .js-close').click(function(){
        modal.hide();
    });
    function formatEmails(emails) {
        var html = '';
        for (var i in emails) {
            html += '<div><a href=mailto:' + i + '>' + i + (emails[i] ? ' (' + emails[i] + ')' : '') + '</a></div>'
        }
        return html;
    }
    $('.js-view').click(function(e){
        e.preventDefault();
        $.ajax({
            url: Craft.getActionUrl('emails/cp-shots/log-emails'),
            data: {id: $(this).data('id')}
        }).done(function (data) {
            if (data.emails.length == 0) {
                $('#emails-modal .content').html('<p>{{ "No emails for this log"|t("emails") }}</p>');
            } else {
                $('#emails-modal .content').html(formatEmails(data.emails));
            }
            modal.show();
        })
    });
{% endjs %}

