{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle('Ryssbowh\\CraftEmails\\assets\\ShotsAssetBundle') %}

{% set title = 'Email shots'|t('emails') %}
{% set selectedSubnavItem = 'shots' %}

{% block toolbar %}
    {% if currentUser.can('sendEmails') %}
        <a href="{{ url('emails/quick-shot') }}" class="btn submit">{{ 'Quick email shot'|t('emails') }}</a>
    {% endif %}
    <a href="{{ url('emails/shots/add') }}" class="btn submit">{{ 'New email shot'|t('emails') }}</a>
{% endblock %}

{% block content %}
    {% if shots %}
        <div class="tableview" id="shots-table-view">
            <table class="vuetable data fullwidth">
                <thead>
                    <tr>
                        <th>{{ 'Name'|t('emails') }}</th>
                        <th>{{ 'Handle'|t('emails') }}</th>
                        <th>{{ 'Email'|t('emails') }}</th>
                        <th>
                            {{ 'Total emails'|t('emails') }}
                        </th>
                        <th>{{ 'Logs'|t('emails') }}</th>
                        <th>{{ 'Sent'|t('emails') }}</th>
                        <th>{{ 'Actions'|t('emails') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shot in shots %}
                        <tr>
                            <td>
                                <a href="{{ url('emails/shots/edit/' ~ shot.id) }}">
                                    {{ shot.name }}
                                </a>
                            </td>
                            <td>{{ shot.handle }}</td>
                            <td>
                                {% if not shot.email %}
                                    <span class="error">{{ 'No email set'|t('emails') }}</span>
                                {% else %}
                                    {% if currentUser.can('modifyEmailContent') %}
                                        <a target="_blank" href="{{ shot.email.cpEditUrl }}">{{ shot.email.heading }}</a>
                                    {% else %}
                                        {{ shot.email.heading }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {{ shot.emailCount }}
                            </td>
                            <td>
                                {{ shot.saveLogs ? 'Yes'|t('emails') : 'No'|t('emails') }}
                            </td>
                            <td>
                                {{ shot.sent }}
                            </td>
                            <td class="actions-cell">
                                <div class="flex flex-nowrap justify-between">
                                    <div>
                                        <a href="#" class="js-view btn btn-small" data-id="{{ shot.id }}">{{ 'View emails'|t('emails') }}</a>
                                        {% if shot.email and currentUser.can('sendEmails') %}
                                            <button class="btn btn-small js-send" data-id="{{ shot.id }}">{{ 'Send now'|t('emails') }} <div class="spinner small"></div></button>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if currentUser.can('seeEmailLogs') and shot.saveLogs %}
                                            <a href="{{ url('emails/shots/logs/' ~ shot.id ) }}" title="{{ 'View logs'|t('emails') }}" class="icon logs"></a>
                                        {% endif %}
                                        <div class="icon delete js-delete" data-id="{{ shot.id }}" title="{{ 'Delete'|t('emails') }}"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <p class="no-shots {% if shots|length %}hidden{% endif %}">{{ 'No email shots found'|t('emails') }}</p>
    <div id="emails-modal" class="modal elementselectormodal" style="display:none">
        <div class="body">
            <div class="content">
            </div>
        </div>
        <div class="footer">
            <div class="buttons right">
                <button type="button" class="btn js-close" tabindex="0">{{ 'Close'|t('app') }}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% js on ready %}
    new Craft.Emails.Shots
{% endjs %}
