{% do view.registerAssetBundle("craft\\web\\assets\\prismjs\\PrismJsAsset") %}

{% set id = 'field-attachements' %}
{% set name = 'attachements' %}

<div class="field">
    {{ hiddenInput(name, '') }}
    <div class="heading">
        <label>{{ 'Attachements'|t('emails') }}</label>
    </div>
    <div id="{{ id }}" class="elementselect">
        <div class="elements">
            {% for element in email.attachementsElements %}
                {% include "_elements/element" with {
                    context: 'field',
                    size: 'small'
                } %}
            {% endfor %}
        </div>
        <div class="flex">
            {{ tag('button', {
                type: 'button',
                text: 'Add an Asset'|t('app'),
                class: ['btn', 'add', 'icon', 'dashed'],
                aria: {
                    label: 'Add an Asset'|t('app')
                },
            }) }}
        </div>
    </div>
</div>

{% set jsSettings = {
    id: id,
    name: name,
    elementType: 'craft\\elements\\Asset',
    viewMode: 'small',
    prevalidate: false,
    canUpload: true,
    modalSettings: {
        hideSidebar: false
    }
} %}

{% js %}
    new Craft.AssetSelectInput({{ jsSettings|json_encode|raw }});
{% endjs %}