{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'shots' %}
{% set mode = mode ?? 'create' %}

{% if mode == 'create' %}
    <div class="flex flex-nowrap align-base">
        {{
            forms.textField({
                name: 'name',
                label: 'Name'|t('emails'),
                errors: errors['name'] ?? [],
                value: shot.name,
                fieldClass: 'half',
                id: 'field-name',
                maxlength: 255
            })
        }}
        {{
            forms.textField({
                name: 'handle',
                label: 'Handle'|t('emails'),
                errors: errors['handle'] ?? [],
                value: shot.handle,
                fieldClass: 'half',
                id: 'field-handle',
                maxlength: 255
            })
        }}
    </div>
{% endif %}

{{
    forms.selectField({
        name: 'email_id',
        options: allEmails,
        value: shot.email_id,
        label: 'Email'|t('emails'),
        fieldClass: mode == 'create' ? '' : 'first',
        errors: errors['email_id'] ?? []
    })
}}
<div class="flex flex-nowrap align-base">
    {{
        forms.checkboxSelectField({
            options: allSources,
            values: shot.sources,
            label: 'Sources'|t('emails'),
            fieldClass: 'quarter',
            name: 'sources',
            errors: errors['sources'] ?? []
        })
    }}
    {% include "emails/_includes/users_field" with {
        value: shot.userElements,
        name: 'users',
        errors: errors['users'] ?? [],
    } only %}
    {% include "emails/_includes/emails_field" with {
        value: shot.emails,
        name: 'emails',
        errors: errors['emails'] ?? [],
    } only %}
</div>
{{ forms.lightswitchField({
    label: 'Use queue'|t('emails'),
    name: 'useQueue',
    on: shot.useQueue,
    instructions: "Send emails through the queue. the emails will be sent in the background so you can do other things in the meantime."|t('emails')
}) }}
{% if mode == 'create' %}
    {{ forms.lightswitchField({
        label: 'Save logs'|t('emails'),
        name: 'saveLogs',
        on: shot.saveLogs
    }) }}
{% endif %}

{% if mode == 'create' %}
    {% js on ready %}
        new Craft.HandleGenerator('#field-name', '#field-handle')
    {% endjs %}
{% endif %}